@{
    ViewData["Title"] = "Find Test Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome FIND TEST</h1>
    <input type="button" value="Add Click" onclick="location.href='@Url.Action("Click", "Test")'"/>
</div>
